body { 
    margin: 0; 
    overflow: hidden;
    background-color: #111;
}

svg { 
    width: 100vw; 
    height: 100vh; 
}
    
.link {
    stroke: #444;
    stroke-width: 3px;
}
    
.node {}

.node rect {}

.node text {
    font-family: sans-serif;
    font-size: 18px;
    pointer-events: none;
    dominant-baseline: middle
}

.node image {
    pointer-events: none;
}
