* {
    color:#fff;
    font-family: monospace;
}

body { 
    margin: 0; 
    overflow: hidden;
    background-color: #111;
}

svg { 
    width: 100vw; 
    height: 100vh; 
}
    
.link {
    stroke: #444;
    stroke-width: 3px;
}

.node text {
    font-size: 18px;
    pointer-events: none;
    dominant-baseline: middle
}

.node image {
    pointer-events: none;
}

/* Overlay-Stil */
#overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
    background: transparent;
    display: none;
    z-index: 1000;
}

@media screen and (max-width: 768px) {
    #overlay {
        width: 100vw;
    }
}

#overlay .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

#overlay-title {
    margin: 0px;
    font-size: 24px;
    color: #fff;
}

#overlay-thumb {
    width: 100%;
}

#overlay .content {
    background: #222;
    box-sizing: border-box;
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    position: relative;
    border: 3px solid;
    border-color: #c73;
}

#overlay .scroll-area {
    margin-top: 20px;
    max-height: calc(100% - 20px - 32px); /* margin-top + title-bar height */
    overflow-y: scroll;
}

#overlay .close-btn {
    font-size: 24px;
    cursor: pointer;
}

/* Ausgewählter Node-Stil */
.node.selected rect {
    stroke: #fff;
    stroke-width: 3px;
}

.inline-content {
    width: 66%;
}

.inline-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    margin: 0 20px;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
}

#social-media img {
    margin: 10px 0;
    width: 30px;
    height: 30px;  
}

#social-media img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.wrapper {
    margin: 20px;
}